.main__Slider {
    --slider-transition-duration: 300ms;
    --organic-arrow-thickness: 5px;
    --organic-arrow-border-radius: 15px;
    --organic-arrow-height: 44px;
    --organic-arrow-color: #ebe5e5;
    --control-button-width: 7%;
    --loader-bar-height: 100px;
    --loader-bar-color: #ffffff;
    
}

