.contact__form{
    position: relative;
    width: 35%;
    font-size: 18px;
}

.contact__form p{
    color: #fafafa;
}

.flex-c-m {
	display: flex;
	justify-content: center;
    align-items: center;  
    margin-top: 3%;
    margin-left: -20%;

}

.social__item {
    padding: 18px;
    font-size: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 2%;
}

.social__item p{
    color: #fafafa;
}

.bg1{
    background: rgb(55, 31, 163);
}

.bg2{
    background-color: #347fe0;
}

.bg3{
    background-color: black;
}

.social__item:hover {
    color: #fff;
    background-color: #333333;
  }

.email__form{
    margin-top: 5%;
}

.social__media{
    margin-top: 5%;
}



@media  (max-width: 1025px) {
    .contact__form{
        font-size: 22px;
        width: 50%;

        height: 75vh;
    }
}
@media  (max-width: 769px) {
    .contact__form{
        width: 90%;
        margin-top: auto;
    }
}

@media  (max-width: 480px) {
    .contact__form{
      font-size: 16px;
      width: 95%;
      height: 75vh;
  }
}
