


.project{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    color: white;
}

.project__link button{
  position: absolute;
  width: 99.7%;
  background-color: transparent;
  border: transparent;
  background-color:  #ddd;
  color: black;
  padding: .5em 0em;
  bottom: .01em;
  text-transform: uppercase;
  border-radius: 0 0 6px 6px;

}

.project__link button:hover {
  background-color: rgb(53, 99, 53);
  color: white;
  cursor: pointer;
}

.project__link button:active {
  box-shadow: none;
}

/* Non-Demo Styles */
  .window {
    height: 40vh;
    background: rgba(0, 0, 0, .95);
    z-index: 1;
    border: 1px solid #acacac;
    border-radius: 6px;
    box-shadow: 0px 0px 18px #acacac;
  }

  .title__bar {
    background-color: #ddd;
    color: #4d494d;
    font-size: 11pt;
    line-height: 20px;
    text-align: center;
    border-top: 1px solid #f3f1f3;
    border-bottom: 1px solid #b1aeb1;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    cursor: default;
  }
  
  .title__bar h4{
    position: relative;
    left: -5%;
  }


  .buttons {
    padding-left: 8px;
    padding-top: 3px;
    float: left;
    line-height: 0px;
  }
  
  .buttons:hover a {
    visibility: visible;
  }
  
  .close {
    background: #ff5c5c;
    font-size: 9pt;
    width: 11px;
    height: 11px;
    border: 1px solid #e33e41;
    border-radius: 50%;
    display: inline-block;
  }
  
  .close:active {
    background: #c14645;
    border: 1px solid #b03537;
  }
  
  .close:active .close__button {
    color: #4e0002;
  }
  
  .close__button {
    color: #820005;
    visibility: hidden;
    cursor: default;
  }
  
  .minimize {
    background: #ffbd4c;
    font-size: 9pt;
    line-height: 11px;
    margin-left: 4px;
    width: 11px;
    height: 11px;
    border: 1px solid #e09e3e;
    border-radius: 50%;
    display: inline-block;
  }
  
  .minimize:active {
    background: #c08e38;
    border: 1px solid #af7c33;
  }
  
  .minimize:active .minimize__button {
    color: #5a2607;
  }
  
  .minimize__button {
    color: #9a5518;
    visibility: hidden;
    cursor: default;
  }
  
  .zoom {
    background: #00ca56;
    font-size: 9pt;
    line-height: 11px;
    margin-left: 6px;
    width: 11px;
    height: 11px;
    border: 1px solid #14ae46;
    border-radius: 50%;
    display: inline-block;
  }
  
  .zoom:active {
    background: #029740;
    border: 1px solid #128435;
  }
  
  .zoom:active .zoom__button {
    color: #003107;
  }
  
  .zoom__button {
    color: #006519;
    visibility: hidden;
    cursor: default;
  }
  
  .window__content {
    padding: 3%;
  }

  @media  (max-width: 430px) {
    .project{
        font-size: 18px;
        width: 100%;
    }
    .window {
      height: 50vh;
    }

}
@media  (max-width: 370px) {
    .project{
        font-size: 16px;
    }
}

